body{
    background-color: rgb(255, 255, 255);
    color: rgb(34, 34, 34);
    font-family: poppinsregular;
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#title{
    flex-direction: column;
    line-height: 10px;
}
li{
    display: inline-block;
    margin: 20px;
}
h1{
    font-weight: 200;
}
a{
    color: rgb(0, 0, 0);
}
a:hover{
    color: rgb(110, 110, 110);
    transition: 0.3s all;
}
main{
    display: flex;
    flex-direction: row;
    margin-top: 15px;
}
h2{
    font-size: 56px;
    line-height: 10px;
    font-family: poppinsmedium;
}
span{
    color: rgb(173, 162, 162);
}
p{
    line-height: 20px;
    max-width: 500px;
    font-family: poppinslight;
}
img{
    margin-top: 25px;
    width: 580px;
    margin-left: 75px
}
#inscrevaSeButton{
    border: 2px solid;
    color: rgb(255, 255, 255);
    border-color: black;
    background-color: black;
    padding: 10px;
    border-radius: 20px;
}
#inscrevaSeButton:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}
form{
    display: flex;
    flex-direction: column;
    width: 70%;
    margin-top: 15px;

}
form h3{
    text-align: center;
}
input{
    margin-top: 20px;
    height: 20px;
    padding: 15px;
    border-radius: 20px;
    border: none;
    font-size: 15px;
}
.inputTexto{
    border: 2px solid;
}
form [type='submit']{
    height: 50px;
    border: 2px solid;
    width: 50%;
    color: rgb(255, 255, 255);
    font-weight: bold;
    border-color: white;
    background-color: black;
}
#envio:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border-color: rgb(0, 0, 0);
}
.second-content h1{
    line-height: 40px;
    max-width: 500px;
    font-family: poppinsbold;
}
.second-content p{
    line-height: 20px;
    max-width: 500px;
    font-family: poppinslight;

}
.second-content{
    flex-direction:column;
}