#contactHeader{
    position: absolute;
    background: #262626;
    width: 100%;
    height: 2em;
    left: 0px;
    top: 0px;
}
#header1{
    height: 7em;
    width: 100%;
    background: #cacaca;
    right: 0px;
    left: 0px;
    top: 2em;
    margin-top: 1px;
    position: absolute;
}
#logoHeader{
    top: -1.8em;
    position: absolute;
}
.listasHorizontal{
    display: inline-block; 
}
ul{
    font-size: 18pt;
}
#sectionHeader{
    display: block;
    background-color: red;
    width: 600px;
    height: 80px;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
}